[submodule "blu-switch/components/BluControl-SDK-ESP32"]
	path = blu-switch/components/BluControl-SDK-ESP32
	url = https://github.com/JPZV/BluControl-SDK-ESP32
[submodule "blu-generic/components/BluControl-SDK-ESP32"]
	path = blu-generic/components/BluControl-SDK-ESP32
	url = https://github.com/JPZV/BluControl-SDK-ESP32
[submodule "blu-generic/components/esp-nimble-cpp"]
	path = blu-generic/components/esp-nimble-cpp
	url = https://github.com/h2zero/esp-nimble-cpp
[submodule "blu-generic/components/ESP32-BLE-Gamepad-idf"]
	path = blu-generic/components/ESP32-BLE-Gamepad-idf
	url = https://github.com/JPZV/ESP32-BLE-Gamepad-idf
[submodule "blu-switch/components/Blue-N64-Control-ESP32"]
	path = blu-switch/components/HOJA-LIB-ESP32
	url = https://github.com/JPZV/Blue-N64-Control-ESP32
	branch = prev_version
