#
# BluControl Configuration
#
CONFIG_BLUCONTROL_BUTTONS_PRESS_STATE_LOW=y
# CONFIG_BLUCONTROL_BUTTONS_PRESS_STATE_HIGH is not set

#
# Buttons
#
CONFIG_BLUCONTROL_BUTTON_A_GPIO=22
CONFIG_BLUCONTROL_BUTTON_B_GPIO=23
CONFIG_BLUCONTROL_BUTTON_Y_GPIO=27
CONFIG_BLUCONTROL_BUTTON_X_GPIO=21
CONFIG_BLUCONTROL_DPAD_RIGHT_GPIO=14
CONFIG_BLUCONTROL_DPAD_DOWN_GPIO=12
CONFIG_BLUCONTROL_DPAD_LEFT_GPIO=13
CONFIG_BLUCONTROL_DPAD_UP_GPIO=0
CONFIG_BLUCONTROL_BUTTON_L_GPIO=15
CONFIG_BLUCONTROL_BUTTON_ZL_GPIO=2
CONFIG_BLUCONTROL_BUTTON_R_GPIO=19
CONFIG_BLUCONTROL_BUTTON_ZR_GPIO=18
CONFIG_BLUCONTROL_BUTTON_START_GPIO=16
CONFIG_BLUCONTROL_BUTTON_HOME_GPIO=17
CONFIG_BLUCONTROL_BUTTON_CAPTURE_GPIO=5
CONFIG_BLUCONTROL_BUTTON_STICK_L_GPIO=25
CONFIG_BLUCONTROL_BUTTON_STICK_R_GPIO=26
# end of Buttons

#
# Sticks
#

#
# Left Stick
#
# CONFIG_BLUCONTROL_LEFT_STICK_NONE is not set
CONFIG_BLUCONTROL_LEFT_STICK_ANALOG=y
# CONFIG_BLUCONTROL_LEFT_STICK_N64 is not set
# CONFIG_BLUCONTROL_LEFT_STICK_BUTTONS is not set
CONFIG_BLUCONTROL_LEFT_STICK_X=32
CONFIG_BLUCONTROL_LEFT_STICK_Y=33
CONFIG_BLUCONTROL_LEFT_STICK_X_NORMAL=y
# CONFIG_BLUCONTROL_LEFT_STICK_X_INVERTED is not set
# CONFIG_BLUCONTROL_LEFT_STICK_Y_NORMAL is not set
CONFIG_BLUCONTROL_LEFT_STICK_Y_INVERTED=y
# end of Left Stick

#
# Right stick
#
# CONFIG_BLUCONTROL_RIGHT_STICK_NONE is not set
CONFIG_BLUCONTROL_RIGHT_STICK_ANALOG=y
# CONFIG_BLUCONTROL_RIGHT_STICK_N64 is not set
# CONFIG_BLUCONTROL_RIGHT_STICK_BUTTONS is not set
CONFIG_BLUCONTROL_RIGHT_STICK_X=34
CONFIG_BLUCONTROL_RIGHT_STICK_Y=35
CONFIG_BLUCONTROL_RIGHT_STICK_X_NORMAL=y
# CONFIG_BLUCONTROL_RIGHT_STICK_X_INVERTED is not set
# CONFIG_BLUCONTROL_RIGHT_STICK_Y_NORMAL is not set
CONFIG_BLUCONTROL_RIGHT_STICK_Y_INVERTED=y
# end of Right stick
# end of Sticks
# end of BluControl Configuration

#
# BluControl SDK Configuration
#
CONFIG_BLUCONTROL_MODE_LENGTH=2
CONFIG_BLUCONTROL_MODE1_LED_GPIO=4
CONFIG_BLUCONTROL_MODE2_LED_GPIO=-1
CONFIG_BLUCONTROL_SECONDS_FOR_SWITCH_MODE=3
CONFIG_BLUCONTROL_SWITCH_BUTTONS_LENGTH=1
CONFIG_BLUCONTROL_SWITCH_BUTTON1_GPIO=17
# end of BluControl SDK Configuration