menu "BluControl Switch Configuration"
    choice BLUCONTROL_CONTROL_TYPE
        prompt "Switch control type"
        default BLUCONTROL_CONTROL_TYPE_PRO
        help
            Select the type of controller for the Switch

        config BLUCONTROL_CONTROL_TYPE_PRO
            bool "Pro Controller"

        config BLUCONTROL_CONTROL_TYPE_N64
            bool "Nintendo 64 Controller"

        config BLUCONTROL_CONTROL_TYPE_JOY_L
            bool "Left Joycon Controller"

        config BLUCONTROL_CONTROL_TYPE_JOY_R
            bool "Right Joycon Controller"

        config BLUCONTROL_CONTROL_TYPE_SNES
            bool "SNES Controller"

        config BLUCONTROL_CONTROL_TYPE_NES
            bool "NES Controller"

        config BLUCONTROL_CONTROL_TYPE_FC
            bool "FamiCom Controller"

        config BLUCONTROL_CONTROL_TYPE_GENESIS
            bool "Genesis Controller"
    endchoice

    menu "Triggers"
        choice BLUCONTROL_LEFT_TRIGGER_BTN
            prompt "Left Trigger Button"
            default BLUCONTROL_LEFT_TRIGGER_BTN_L
            depends on BLUCONTROL_LEFT_TRIGGER_ANALOG
            help
                Select the button for the Left Trigger when it activates
    
            config BLUCONTROL_LEFT_TRIGGER_BTN_L
                bool "L Button"
    
            config BLUCONTROL_LEFT_TRIGGER_BTN_ZL
                bool "ZL Button"
        endchoice

        choice BLUCONTROL_Right_TRIGGER_BTN
            prompt "Right Trigger Button"
            default BLUCONTROL_RIGHT_TRIGGER_BTN_R
            depends on BLUCONTROL_RIGHT_TRIGGER_ANALOG
            help
                Select the button for the Right Trigger when it activates
    
            config BLUCONTROL_RIGHT_TRIGGER_BTN_R
                bool "R Button"
    
            config BLUCONTROL_RIGHT_TRIGGER_BTN_ZR
                bool "ZR Button"
        endchoice
    endmenu
endmenu