menu "BluControl Generic Configuration"
    config BLUCONTROL_BUTTONS_LENGTH
        int "Buttons length"
        default 0
        range 0 128
        help
            Number of buttons available. 0 to detect it automatically (recommended)

    #Buttons
    config BLUCONTROL_BUTTON_A_BTN
        int "Button A Button"
        default 1
        range 1 20
        help
            Button Number for the A Button.

    config BLUCONTROL_BUTTON_B_BTN
        int "Button B Button"
        default 1
        range 1 20
        help
            Button Number for the B Button.

    config BLUCONTROL_BUTTON_Y_BTN
        int "Button Y Button"
        default 1
        range 1 20
        help
            Button Number for the Y Button.

    config BLUCONTROL_BUTTON_X_BTN
        int "Button X Button"
        default 1
        range 1 20
        help
            Button Number for the X Button.

    config BLUCONTROL_BUTTON_L_BTN
        int "Button L Button"
        default 1
        range 1 20
        help
            Button Number for the L Button.

    config BLUCONTROL_BUTTON_ZL_BTN
        int "Button ZL Button"
        default 1
        range 1 20
        help
            Button Number for the ZL Button.

    config BLUCONTROL_BUTTON_R_BTN
        int "Button R Button"
        default 1
        range 1 20
        help
            Button Number for the R Button.

    config BLUCONTROL_BUTTON_ZR_BTN
        int "Button ZR Button"
        default 1
        range 1 20
        help
            Button Number for the ZR Button.

    config BLUCONTROL_BUTTON_START_BTN
        int "Button START Button"
        default 0
        range 0 20
        help
            Button Number for the START Button. 0 to use the special button for Start.

    config BLUCONTROL_BUTTON_HOME_BTN
        int "Button HOME Button"
        default 0
        range 0 20
        help
            Button Number for the HOME Button. 0 to use the special button for Home.

    config BLUCONTROL_BUTTON_CAPTURE_BTN
        int "Button CAPTURE Button"
        default 0
        range 0 20
        help
            Button Number for the CAPTURE Button. 0 to use the special button for Select

    config BLUCONTROL_BUTTON_STICK_L_BTN
        int "Button Stick L (L3) Button"
        default 1
        range 1 20
        help
            Button Number for the Left Stick Button.

    config BLUCONTROL_BUTTON_STICK_R_BTN
        int "Button Stick R (R3) Button"
        default 1
        range 1 20
        help
            Button Number for the Right Stick Button.

endmenu